@font-face {
	font-family: "Limkin";
	src: url("assets/limkin.ttf");
	font-weight: 100 900;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
}

/* Questions */
.questions {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.questions * {
	font-family: "Limkin";
	font-variation-settings: "wght" 500, "SRFF" 50;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.2em;
}
.question {
	width: 100%;
	height: 100%;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	gap: 1.2em;
	transition: opacity 1s, transform 1s;
}
.question[data-active="0"] {
	pointer-events: none;
	opacity: 0;
	transform: translateY(1em);
}
.question-subcontainer {
	max-width: 800px;
	width: 100%;
}
.question-line {
	opacity: 0;
	transition: opacity 1s, transform 1s;
}
.question-line[data-active="0"] {
	pointer-events: none;
	transform: translateY(1.2rem);
}
.question-line[data-active="1"] {
	opacity: 1;
}
.question-bubble {
	width: auto;
	align-self: center;
	text-align: center;
	background-color: black;
	color: white;
	line-height: 1.2em;
	padding: .6em 1.2em .4em 1.2em;
	border-radius: 3rem;
}
.question-options {
	display: flex;
	flex-wrap: wrap;
	gap: .3em;
}
.question-option {
	margin: 0;
	min-width: 80px;
	font-size: 1.4rem;
	line-height: 1.4em;
	border: .15em solid black;
	background-color: white;
	padding: .6em 1.2em .4em 1.2em;
	border-radius: 2rem;
	font-variation-settings: "wght" 550, "SRFF" 50;
	font-weight: 550;
	cursor: pointer;
	text-align: center;
	color: black;
	text-decoration: none;
}
.question-option:hover {
	background-color: black;
	color: white;
	transition: opacity .2s, transform .2s;
}
.question-option:active {
	transform: scale(.9);
}

/* Progress bar */
.progress {
	font-family: "Limkin";
	font-variation-settings: "wght" 700, "SRFF" 50;
	font-weight: 700;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100vw;
	padding: 40px;
	font-size: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 5px;
	opacity: 0;
	pointer-events: none;
	transition: transform 1s, opacity 1s;
	transform: translateY(20px);
}
.progress-bar {
	max-width: 500px;
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.4em;
	border: .15em solid black;
	border-radius: 20px;
	height: 20px;
	padding: 2px;
}
.progress-bar-fill {
	background-color: black;
	height: 100%;
	width: 0%;
	border-radius: 20px;
	transition: width 1s;
}



/* Mobile styling */
@media screen and (max-width: 800px) {
	html {
		font-size: 12px;
	}
	.question {
		padding: 20px;
	}
	.progress {
		padding: 20px;
	}
}